body {
    background-image: url("wallpaper.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat

}

h2 {
	color: blue;
	background-color: AliceBlue;
	border-radius: 5px;
	text-align: center
}
h1 {
    color: blue;
	background-color: AliceBlue;
	border-radius: 5px;
    text-align: left;
}
h3 {
	color: gold;
}
p {
	color: blue;
	background-color: AliceBlue;
	border-radius: 5px;
    font-family: verdana;
    font-size: 20px;
}

